/* App.css */

.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card p {
  margin: 0;
}

form {
  margin-top: 20px;
}

form > div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card-list {
  overflow-y: auto;
}

.add-citizen-button-go-to, .cancel-button, .add-citizen-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.add-citizen-button-go-to {
  position: absolute;
  top: 20px;
  right: 20px;
}

.add-citizen-button-go-to:hover, .add-citizen-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: lightcoral;
}

.cancel-button:hover {
  background-color: coral;
}

.cancel-button, .add-citizen-button {
  width: 150px;
  margin-top: 10px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loading-text {
  display: flex;
  margin-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.list-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 95vh;
}
